#privacy-policy {
  padding-top: calc(10rem + var(--nav-height));
}

#privacy-policy header h2 {
  margin-bottom: 6rem;
}

#privacy-policy header span span {
  color: #ff9001;
}

#privacy-policy .content {
  text-align: left;
}

#privacy-policy .content p + p {
  margin-top: 1.6rem;
}

#privacy-policy .content h3 {
  margin-block: 2.4rem;
  color: var(--headline);
}

#privacy-policy .content h3:last-of-type {
  color: #ff9001;
}

#privacy-policy .content a {
  color: #42a5f5;
}

#privacy-policy .content ul {
  margin-block: 1.6rem;
}

#privacy-policy .content ul li {
  color: var(--paragraph);
}
