/*=== GERAL =============================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: black;
  --secondary-color: white;
  --body-color: #1e1e1e;
  --headline: #707070;
  --paragraph: #f7f7f7;

  font-size: 62.5%; /* 1rem = 10px */

  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "DM Sans";
  font-size: 1.6rem; /* 16px */

  text-align: center;

  overflow: overlay;

  background-color: var(--body-color);
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
}

.button {
  background: var(--primary-color);

  border: none;

  padding: 1.6rem 3.2rem;

  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  text-decoration: none;

  transition: background 200ms;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

/*=== RESPONSIVO ========================*/

@media (min-width: 1024px) {
  /*=== GERAL =============================*/

  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
  }
}
